<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile *ngFor="let w of weather">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Data: {{w.forecastDate}}</mat-card-title>
        <mat-card-subtitle>{{weatherType[w.idWeatherType + 1].descIdWeatherTypePT}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="tempRow">
          <span class="minTemp">{{w.tMin}}º</span>
          <span class="maxTemp">{{w.tMax}}º</span>
        </div>
        <p>Vento {{windClass[w.classWindSpeed + 1].descClassWindSpeedDailyPT}}, com direção a {{w.predWindDir}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
