<mat-grid-list cols={{weather.length}} rowHeight="4:2">
  <mat-grid-tile *ngFor="let w of weather">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{w.tMax}}</mat-card-title>
        <mat-card-subtitle>{{w.tMin}}</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
